// 底部播放器公共组件样式
.footerMusic {
    width: 100%;
    height: 1.2rem;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .footerLeft {
        display: flex;
        align-items: center;
        width: 80%;

        .trackImg {
            width: .75rem;
            height: .75rem;
            margin: 0 .2rem 0 .3rem;
        }

        .songInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .name {
                font-weight: 600;
                font-size: .32rem;
                padding-bottom: .15rem;
            }

            .singer {
                color: rgb(158, 152, 152);
                font-size: .3rem;
            }
        }
    }

    .footerRight {
        display: flex;
        margin-right: .2rem;

        .icon {
            margin: 0 .1rem;
            width: .5rem;
            height: .5rem;
            fill: red;
        }
    }
}

// 播放器样式
.playerContainer {
    .bcgImg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        filter: blur(.9rem);
    }

    .playerTop {
        display: flex;
        width: 100%;
        height: 1.3rem;
        justify-content: space-between;
        align-items: center;

        .topLeft {
            display: flex;

            .songInfo {
                width: 3rem;
                display: flex;
                flex-direction: column;
                margin-left: .2rem;

                .songName {
                    color: #fff;
                    font-size: .36rem;
                    padding-bottom: .1rem;
                }

                .singerName {
                    font-size: .3rem;
                    color: #ccc;
                }
            }
        }

        .topLeft,
        .topRight {
            .icon {
                width: .8rem;
                height: .8rem;
                margin: 0 .2rem;
                fill: #fff;
            }
        }
    }

    .playerContent {
        width: 100%;
        height: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .needleImg {
            width: 2rem;
            height: 3rem;
            position: absolute;
            left: 46%;
            transform-origin: 0 0;
            transform: rotate(-13deg);
            transition: all 1.5s;
        }

        .needleImg_active {
            width: 2rem;
            height: 3rem;
            position: absolute;
            left: 46%;
            transform-origin: 0 0;
            transform: rotate(0deg);
            transition: all 1.5s;
        }

        .cdImg {
            width: 5rem;
            height: 5rem;
            position: absolute;
            bottom: 2.3rem;
            z-index: -1;
        }

        .albumImg {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 50%;
            position: absolute;
            bottom: 3.14rem;
            animation: rotate_ar 10s linear infinite;
        }

        .albumImg_active {
            animation-play-state: running;
        }

        .albumImg_paused {
            animation-play-state: paused;
        }

        @keyframes rotate_ar {
            0% {
                transform: rotateZ(0deg);
            }

            100% {
                transform: rotateZ(360deg);
            }
        }
    }

    .playerFooter {
        .icon {
            width: .6rem;
            height: .6rem;
            fill: #fff;
        }

        .footerTop {
            height: 1.5rem;
            width: 80%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto;
        }

        .footerContent {
            height: 1.5rem;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto;

            .play {
                width: .8rem;
                height: .8rem;
            }
        }
    }
}